.gallery__img {
  display: block;
  text-align: center;
  width: 100%;
  background-color: beige;
}

@media screen and (max-width: 768px) {
  .gallery__img {
    max-height: 44.3vw;
  }
}

@media screen and (max-width: 767px) {
  .gallery__img {
    width: 100%;
    max-height: 100vw;
  }
}
