.gallery__wrapper {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  margin: 0;
  margin-bottom: 92px;
  padding: 0 48px;
}

@media screen and (max-width: 1279px) {
  .gallery__wrapper {
    gap: 16px;
  }
}

@media screen and (max-width: 1023px) {
  .gallery__wrapper {
    -webkit-column-gap: 23px;
       -moz-column-gap: 23px;
            column-gap: 23px;
    row-gap: 19px;
    margin-bottom: 93px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .gallery__wrapper {
    gap: 12px;
    margin-bottom: 64px;
    padding: 0 16px;
  }
}
