.gallery__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  justify-content: center;
  gap: 16px;
  margin: 0;
  margin-bottom: 92px;
  padding: 0 48px;
}

@media screen and (max-width: 1279px) {
  .gallery__wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 14px 15px;
    margin-bottom: 94px;
  }
}

@media screen and (max-width: 1023px) {
  .gallery__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .gallery__wrapper {
    gap: 16px 16px;
    margin-bottom: 91px;
    padding: 0 16px;
  }
}

@media screen and (max-width: 767px) {
  .gallery__wrapper {
    grid-template-columns: 1fr;
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 320px) {
  .gallery__wrapper {
    gap: 12px;
  }
}
