.train__img {
  display: block;
  object-fit: cover;
  object-position: center;
  width: 100%;
  margin-bottom: 8px;
}


@media screen and (max-width: 1024px) {
  .train__img {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .train__img {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .train__img {
    max-width: 320px;
  }
}
