.place__wrapper {
  margin-bottom: 92px;
  padding: 0 148px;
}

@media screen and (max-width: 1024px) {
  .place__wrapper {
    padding: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .place__wrapper {
    margin-bottom: 90px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 337px) {
  .place__wrapper {
    margin-bottom: 66px;
    padding: 0;
  }
}
