.place__wrapper {
  margin-bottom: 93px;
  padding: 0 148px;
}

@media screen and (max-width: 1024px) {
  .place__wrapper {
    margin-bottom: 85px;
    padding: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .place__wrapper {
    margin-bottom: 84px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 390px) { 
  .place__wrapper {
    margin-bottom: 66px;
    padding: 0;
  }
}
