.place__list {
  display: grid;
  margin: 0;
  margin-bottom: 93px;
  padding: 0 148px;
  gap: 81px;
}

@media screen and (max-width: 1024px) {
  .place__list {
    margin-bottom: 77px;
    padding: 0 48px;
    gap: 67px;
  }
}

@media screen and (max-width: 1023px) {
  .place__list {
    margin-bottom: 88px;
    padding: 0 24px;
    gap: 70px;
  }
}

@media screen and (max-width: 370px) {
  .place__list {
    margin-bottom: 66px;
    padding: 0;
    gap: 50px;
  }
}
@media screen and (max-width: 320px) {
  .place__list {
    margin-bottom: 68px;
  }
}
