.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 48px;
}

@media screen and (max-width: 768px) {
  .footer__wrapper {
    flex-direction: row;
    align-items: flex-start;
    padding: 0 25px;
    gap: 48px;
  }
}

@media screen and (max-width: 738px) {
  .footer__wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 337px) {
  .footer__wrapper {
    padding: 0 16px;
  }
}
