.visible__article {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 92px;
    padding: 0 148px;
    max-width: 690px;
  }

  @media screen and (max-width: 1024px) {
    .visible__article {
      padding: 0 48px;
    }
  }

  @media screen and (max-width: 768px) {
    .visible__article {
      max-width: 720px;
      margin-bottom: 88px;
      padding: 0 24px 0 24px;
    }
  }

  @media screen and (max-width: 340px) {
    .visible__article {
      margin-bottom: 64px;
      padding: 0 16px;
      max-width: 288px;
    }
  }
