.train__img-text {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media screen and (max-width: 824px) {
  .train__img-text {
    padding-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .train__img-text {
    padding-left: 16px;
  }
}
