.place__url {
  display: block;
  margin: 0;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #AAAAAA;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .place__url {
    margin-bottom: 10px;
  }
}
