.railway {
  margin: 0;
  margin-bottom: 92px;
  padding: 0 48px;
}

@media screen and (max-width: 1024px) {
  .railway {
    margin-bottom: 94px;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .railway {
    margin-bottom: 89px;
  }
}

@media screen and (max-width: 320px) {
  .railway {
    margin-bottom: 64px;
  }
}
