.place__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  row-gap: 47px;
  column-gap: 17px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 1279px) {
  .place__item {
    gap: 46px 18px;
  }
}

@media screen and (max-width: 1023px) {
  .place__item {
    gap: 48px 30px;
  }
}

@media screen and (max-width: 768px) {
  .place__item {
    gap: 44px 17px;
  }
}

@media screen and (max-width: 765px) {
  .place__item {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 32px;
  }
}

@media screen and (max-width: 337px) {
  .place__item {
    gap: 32px;
  }
}