.place__item {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  row-gap: 47px;
  column-gap: 17px;
}

@media screen and (max-width: 1024px) {
  .place__item {
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .place__item {
    gap: 48px 28px;
  }
}

@media screen and (max-width: 765px) {
  .place__item {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 32px;
  }
}
